.App {
  width: 555px;
  min-height: 120px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 120px auto;
}

.content{
  padding: 10px;
}

.todosWrapper{
  border: 1px solid #000;
  margin-top: 15px;
}